FlectraHQ:
{{proto}}://{{hostname}}/web/database/manager#action=database_manager
{{proto}}://{{hostname}}/web/database/selector
Login: DBAdmin
Password: {{dbselector_pass.stdout}}

Etherpad
{{proto}}://{{hostname}}/pad/admin/
Login: admin
Password: {{ether_pass.stdout}}

Netdata:
{{proto}}://{{IP}}:19999
Login: netdata
Password: {{netdata_pass.stdout}}

How to change passwords:
1.How to change Odoo DB selector password
Password is located encrypted in file /usr/share/nginx/odoo_pass
Run the next command to change a password
htpasswd -b /usr/share/nginx/odoo_pass DBAdmin New_Password
where New_Password is a new password you want, DBAdmin - new login
*You do not need to restart anything

2.Changing Etherpad password - administrator's page
passwordis in file /usr/src/etherpad/settings.json
find the next part of a text
"users": {
  "admin": {
  "password": "TestAdminAdmin",
    "is_admin": true
    },
    "user": {
      "password": "changeme1",
      "is_admin": false
    }
  },
And edit TestAdminAdmin to your new password.
After this you should restart service using next command: systemctl restart etherpad

3.How to change Netdata page password
Password is encrypted in file /usr/share/netdata_auth
To change credentials please run
htpasswd -b /usr/share/netdata_auth netdata New_Password
Where New_Password is a new password you want to set up
*do not restart anything
