FlectraHQ:
{{proto}}://{{hostname}}/web/database/manager#action=database_manager
{{proto}}://{{hostname}}/web/database/selector
Логин: DBAdmin
Пароль: {{dbselector_pass.stdout}}

Etherpad
{{proto}}://{{hostname}}/pad/admin/
Логин: admin
Пароль: {{ether_pass.stdout}}

Netdata:
{{proto}}://{{IP}}:19999
Логин: netdata
Пароль: {{netdata_pass.stdout}}

Как менять пароли:
1.Как сменить пароль к Странице Odoo с БД
Пароль находится в зашифрованном виде в файле /usr/share/nginx/odoo_pass
Что бы его поменять нужно выполнить команду
htpasswd -b /usr/share/nginx/odoo_pass DBAdmin New_Password
где вместо New_Password указать настоящий новый пароль, DBAdmin - логин
*Ничего перезапускать не нужно

2.Как сменить пароль Etherpad - страница администратора
Пароль меняется в файле /usr/src/etherpad/settings.json
Необходимо найти текст
"users": {
  "admin": {
  "password": "TestAdminAdmin",
    "is_admin": true
    },
    "user": {
      "password": "changeme1",
      "is_admin": false
    }
  },
И заменить TestAdminAdmin на свой пароль.
После этого нужно перезапустить сервис с помощью команды systemctl restart etherpad

3.Как сменить пароль к странице Netdata
Пароль находится в зашифрованном виде в файле /usr/share/netdata_auth
Что бы его поменять нужно выполнить команду
htpasswd -b /usr/share/netdata_auth netdata New_Password
где вместо New_Password указать настоящий новый пароль
*Ничего перезапускать не нужно
